body{
    padding: 20px 0;
    text-align: center;
    margin: 0;
    background-color: blue;
}

span{
    border-bottom: 2px solid black;
    padding: 4px;
}

button{
    background-color: white;
    padding: 5px 8px;
    margin: 20px 0;
    border-radius: 4px 8px ;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
#add{
    background-color: blue;

}
#add:hover{
background-color: white;
}
#sub{
    background-color: rgb(225, 69, 150);

}
#mult{
    background-color: rgb(214, 89, 22);

}
#divide{
    background-color: rgb(23, 218, 186);

}

#container{
    margin: auto;
    width: 300px;
    border: 2px solid black;
    padding: 5%;
    border-radius: 10px 20px;
    background-color: white;
       box-shadow: 0 0 15px 100px rgba(232, 13, 13, 0.2);
}